[submodule "roles/ansible-galaxy"]
	path = roles/galaxy
	url = https://github.com/eslerm/ansible-galaxy.git
	branch = master
[submodule "roles/ansible-postgresql"]
	path = roles/postgresql
	url = https://github.com/eslerm/ansible-postgresql.git
	branch = master
[submodule "roles/ansible-postgresql-objects"]
	path = roles/postgresql-objects
	url = https://github.com/natefoo/ansible-postgresql-objects.git
	branch = master
